[build]
  command = "npm install && npm run build"
  publish = "dist"
  functions = "netlify/functions"

[functions]
  node_bundler = "esbuild"
  included_files = ["server/**/*"]

[dev]
  command = "npm run dev"
  port = 8888
  targetPort = 5173
  framework = "#custom"

[[redirects]]
  from = "/auth/*"
  to = "/.netlify/functions/server/:splat"
  status = 200

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/server/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
